/* public */
body {
    font-family: '微软雅黑';
    font-weight: 300;
    color: #fff;
    line-height: 30px;
}

.bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
}

.bg img {
    width: 100%;
    height: 100%;
}

.inner-bg {
    padding: 60px 0 0px 0;
}

.top-box {
    padding: 70px 0 10px 0;
}

.top-box .box, .bottom-box .box {
    position: relative;
    z-index: 10;
    width: 200px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    margin-bottom: -20px;
}

.top-box .box img, .bottom-box .box img {
    height: 35px;
}

.top-box .box span, .bottom-box .box span {
    font-size: 14px;
    margin-left: 10px;
}

.bottom-box .off {
    width: 320px;
}

.bottom-box .box .service, .bottom-box .box .msg {
    width: 95px;
    height: 100px;
    float: left;
}

.bottom-box .box .service {
    background-color: #d4d4d4;
}

.bottom-box .box .msg {
    background-color: #414141;
    margin-left: 10px;
}

.bottom-box .msgs {
    position: absolute;
    width: 250px;
    height: 100px;
    background-color: #414141;
    left: 120px;
    top: 110px;
    overflow: hidden;
}

.msgs ul {
    list-style-type: none;
    margin-left: -40px;
    color: #888;
}

.msgs ul li {
    font-size: 14px;
    line-height: 25px;
    height: 25px;
    margin-left: 10px;
}

.user {
    background-color: #d8552c;
}

.operative {
    background-color: #6552a3;
}

.partner {
    background-color: #31b7dd;
}

/* fadeIn-fadeOut */
.fadeIn-anime {
    transition: all 2s;
    opacity: 0.3;
}

.fadeOut-anime {
    transition: all 2s;
    opacity: 1;
}

/* news */
#dis {
    position: absolute;
}

.play {
    animation: ma 12s ease-out infinite;
}

@keyframes ma {
    0%, 15% {
        margin-top: 0px;
    }
    20%, 35% {
        margin-top: -25px;
    }
    40%, 55% {
        margin-top: -50px;
    }
    60%, 75% {
        margin-top: -75px;
    }
    80%, 100% {
        margin-top: -100px;
    }
}

/* form */
.login {
    margin-top: 30px;
    margin-bottom: 0px;
    position: relative;
    height: 0px;
}

.form-control {
    height: 30px;
    width: 180px;
    padding: 0px 30px 0px 15px;
    margin-top: 10px;
    vertical-align: middle;
    background: #f8f8f8;
    border: 1px solid #ddd;
    line-height: 30px;
    color: #888;
}

.point {
    position: relative;
    left: 0px;
    top: 10px;
    width: 180px;
    height: 26px;
    margin-bottom: 10px;
    padding-left: 37px;
    font-size: 12px;
    line-height: 26px;
    color: #ff4747;
    background: url("../img/mistake.png");
}

.username {
    background-image: url(../img/username.png);
    background-repeat: no-repeat;
    background-position: 105% 50%
}

.password {
    background-image: url(../img/password.png);
    background-repeat: no-repeat;
    background-position: 105% 48%
}

#landed {
    position: absolute;
    top: 70px;
    left: 0px;
}

.btn {
    margin: 10px 0px 0px 0px;
    height: 30px;
    width: 80px;
    padding: 0;
    vertical-align: middle;
    font-size: 12px;
    line-height: 30px;
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.btn:hover {
    opacity: 0.9;
    color: #fff;
}

.btn:active {
    outline: 0;
    opacity: 0.6;
    color: #fff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn:focus {
    outline: 0;
    opacity: 0.6;
    background: #19b9e7;
    color: #fff;
}

.btn:active:focus, .btn.active:focus {
    outline: 0;
    opacity: 0.6;
    background: #19b9e7;
    color: #fff;
}

/* transtion */
.sliding-transition {
    opacity: 1;
}

.sliding-enter {
    animation: bounce-in 0.42s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.sliding-leave {
    animation: bounce-out 0.42s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.heights-max {
    animation: height-a 0.42s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes height-a {
    0% {
        height: 0px;
    }
    100% {
        height: 145px;
    }
}

.heights-min {
    animation: height-i 0.42s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes height-i {
    0% {
        height: 145px;
    }
    100% {
        height: 0px;
    }
}

.height-ten {
    animation: height-t 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes height-t {
    0% {
        top: 70px;
    }
    100% {
        top: 105px;
    }
}

.height-one {
    animation: height-o 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes height-o {
    0% {
        top: 100px;
    }
    100% {
        top: 70px;
    }
}

@keyframes bounce-in {
    0% {
        opacity: 0;
        margin-top: -135px;
    }
    100% {
        opacity: 1;
        margin-top: 0px;
    }
}

@keyframes bounce-out {
    0% {
        opacity: 1;
        margin-top: 0px;
    }
    100% {
        opacity: 0;
        margin-top: -135px;
    }
}

/* media */
@media (max-width: 990px) {
    .intervals {
        margin-left: 30px;
    }
}

@media (min-width: 990px) {
    .intervals {
        margin-left: -7px;
    }

    .top-box, .bottom-box {
        margin-left: 50px;
    }
}

@media (min-width: 1200px) {
    .intervals {
        margin-left: -49px
    }

    .top-box, .bottom-box {
        margin-left: 80px;
    }
}

@media (max-width: 960px) {
    .intervals {
        margin-left: 32px;
    }

    .bg, .inner-bg {
        width: 970px;
        position: absolute;
        left: 0px;
        top: 0px;
    }
}

@media (max-height: 685px) {
    .bg, .inner-bg {
        height: 685px;
    }
}

@media (max-width: 768px) {
    .intervals {
        margin-left: -22px;
    }
}
